html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: 'Bebas Neue', cursive;
}

.time {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  font-size: 6vh;
  background: #00000020;
  color: #fff;
  padding-top: 5px;
  text-align: center;
}

.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 80px;
  background: #00000020;
  padding-top: 10px;
  pointer-events: auto;
  cursor: pointer;
}

.restart:hover {
  background: #00000040;
}

.restart:active {
  background: #bbbaaa60;
}

.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #ffffff44;
}

.controls .key.large {
  width: 144px;
}

.controls .key.active {
  background: #ffffee99;
}

